.mural {

  &__title {
    background-color: $green-grey;
    font-family: $font-sans-serif;
    font-size: 1.2rem;
    font-weight: $font-weight-medium;
    line-height: 2.125;
    letter-spacing: .5px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    width: 100%;

    @media only screen and (min-width: 960px) {
      background-color: transparent;
      font-size: 1.25rem;
      margin-left: 5rem;
      margin-top: 1rem;
    }
  }

  &__description {
    font-size: 1rem;
    font-weight: $font-weight-light;
    line-height: 1.625;
    width: 80%;

    @media only screen and (max-width: 414px) {
      padding: 0 24px;
      width: 100%;
    }
  }
}
