$light-grey: #EFF0F0;
$green-grey: #E0E3E3;
$dark-grey: #3C3C3B;
$light-green: #BBCBC3;
$green: #1D5E3C;
$magenta: #FF00FD;
$light-orange: #FAF3E7;
$medium-orange: #FAE8CC;
$orange: #D49F3E;
$blue: #003854;
