// Typography - Typefaces
$font-serif: 'adobe-garamond-pro', georgia, serif, arial, sans-serif;
$font-sans-serif: 'akzidenz-grotesk-pro', Helvetica, sans-serif;

// Typography - Font weights
$font-weight-medium: 500;
$font-weight-light: 300;

// Cubic bezier
$cubic-bezier: cubic-bezier(.165, .84, .44, 1);
